@import "vars"


.input-wrap
  height: 40px
  margin-bottom: 10px
  position: relative
  input
    background: linear-gradient(to bottom, rgb(125,45,139) 0%, rgb(93,47,101) 100%)
    box-shadow: inset 0 3px 6px 0 rgba(25, 30, 32, 0.5)
    border: 0
    left: 40px
    height: 100%
    font-weight: normal
    width: 100%
    display: block
    border-radius: 20px
    padding: 0 25px
    color: #fff
    font-family: 'Open Sans', sans-serif
    font-size: 20px

.form-btn
  border-radius: 25px
  width: 100%
  display: block
  font-size: 25px
  padding: 0 15px
  height: 50px
  color: #fff
  font-family: "Open Sans", sans-serif
  background: linear-gradient(to bottom, rgb(27,183,35) 1%, rgb(185,234,69) 100%)
  box-shadow: 0 3px 0 0 rgba(25, 30, 32, 0.6), inset 0 3px 2px 0 rgba(255, 255, 255, 0.75)
  transition: .3s ease all
  font-weight: bold
  &:hover
    transition: .3s ease all
    background: linear-gradient(to bottom, rgb(133,250,139) 1%, rgb(220,251,147) 100%)
    box-shadow: 0 3px 0 0 rgba(25, 30, 32, 0.6),inset 0 3px 2px 0 rgba(255, 255, 255, 0.75)

